/* Universal Styles */

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-family: "poppins-extralight", "poppins", sans-serif;
    color: seashell;
    background-color: black;
    font-size: 18px;
    text-align: center;
  }
  
  a {
    color: seashell;
  }
  
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 10px;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* header */

header{
    height: 69px;
    width: 100%;
    position: fixed;
    background-color: black;
    border-bottom: 1px solid seashell;
    z-index: 1;
    align-items: center;
}

header img{
    height: 50px;
    padding-left: 10px;
}

nav {
    text-align: right;
    flex-grow: 1;    
}

nav span{
    display: inline-block;
    padding: 20px 10px;
}

/* main section  */

.container{
    padding-top: 69px;
    opacity: 0.9;
    width: 1200px;
    margin: auto;
}

/* Mission Section */

#mission{
    height: 700px;
    background-image: url("../img/nardPRSP.jpg");
    padding-top: 0;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-image: url("./images/img-bedford-bizarre.jpg"); */
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}

/* Intro Banner */
#intro .banner{
    height: 400px;
}

.banner h1{
    font-size: 72px;
    width: 780px;
}

.banner p{
    width: 780px;
}

/* About Me */

#aboutMe{
    height: 700px;
    background-color: #FF5A4E;
    margin-top: 5px;

}

#aboutMe .flex-container{
    
}

#aboutMe .section{
    height:500px;
    width: 500px;
    margin: 10% 0;
    
    background-color: #FFFFFF;
}

#aboutMe h2{
    color: #ff5a4e;
    margin-top: 12%;
}

#aboutMe p{
    color: black;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    /* margin-top: 15%; */
    margin: 0 15%;
}

.section .connect{
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;

    height: 40px;
    width: 132px;
    background-color: burlywood;

    margin: 5% auto;
}

.connect span{
    display: inline-block;
    padding-top: 5px;
}

.section.img{
    background-image: url(../img/nardKENNEDY.png);
}


/* Store Section  */

#store{
    margin: auto;
    height: 700px;
    width: 1000px;
    padding-top: 70px;
}

#store img{
    height: 200px;
    margin: 10px;
}

.item figcaption {
    /* display: block; */
    /* padding: 5px; */
    font-weight: bold;
    text-align: center;
  }

/* Location Section */

.flex-container.locations {
    padding-top: 5px;
}

#locations{
    height: 500px;
    text-align: center;
    padding-top: 70px;

    background-image: url("../img/nardTKL.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#locations .flex-container {
    margin: auto;
    width: 1100px;
  }


.location{

    margin: 5px 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 1;
    background-color: black;
    flex-basis: 280px;
    padding: 10px;

    /* opacity: 1.0;
    background-color: black;
    flex-basis: 280px;
    padding: 10px;

    margin: 5px 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

  



